.formbtns {
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.postbtn {
  color: white;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.06em;
  background-color: #548f93;
  padding: 0.8rem 2rem;
  border-radius: 20px;
}

.cancelbtn {
  border: none;
  background-color: white;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: rgb(176, 38, 38);
  font-weight: 500;
}

.image-container img {
  height: auto;
  max-height: 1000px;
  width: 100%;
  object-fit: contain;
}
.uploaded-image {
  cursor: pointer;
}

.tag-input {
  display: inline-block !important;
  min-width: 50px;
  min-height: 20px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 2px;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.tag-input:focus {
  outline: none;
}

.upload-tip {
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: #7d7d7d;
  font-size: 0.9rem;
  &-icon {
    & svg {
      width: 2%;
    }
  }
  &-container {
    display: flex;
    align-items: center;
  }
}

.image-container .image-marker__marker--default {
  background-color: #369693;
  border: 2px solid white;
  font-weight: 500;
}
