button {
  margin-left: 0px;
}

.login {
  border: none;
  background-color: #548f93;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  width: 198px;
  height: 40px;
  letter-spacing: 0.1rem;
}
