.no-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-msg {
    width: 100%;
    text-align: center;
    color: #7d7d7d;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
}

.user-name {
  height: 100%;
  margin: auto;
}
